.wrapper {
    width:90px
}

.sidebar-left {
    background-color:pink;
    float: left;
}

.content {
 background-color:palegreen;
height:300px;
width:700px;
float:left;
}

.sidebar-right {
 background-color:pink;
 height:300px;
 width:100px;
 float:right;
}
a:hover {
    color:blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color:#FFFAFF;
    color:#000080;
    padding: 5px;
}
















































































































































































































































































































































































































































































































































































































































































































































