a {
    color:navy
    text-decoration none;
  }

  .profile p {
    background-color:purple;
    color: white;
   }




























































































































































































































































































































































































































































































































































































































































































































































































































































